body {
    background-color: grey;
}
#form1 {
    width: 50%;
    background-color: pink;
    margin: auto;
    padding: 10px;
}
#heading {
    margin:auto;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    width: 50%;
}
