body {
    background-color: purple;
}

form {
    margin: auto;
    width: 20%;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    margin-top: 8%;
}

h3 {
    text-align: center;
}

#lblTime, #lblRate, #lblPrincipal, span {
    color: grey;
    
}

#txtTime, #txtPrincipal, #txtRate {
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
    border: 1px solid grey;
}

#btnResult {
    color: white;
    background-color: black;
    padding: 6px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
}
